# https://coverage.readthedocs.io/en/latest/config.html
# https://pytest-cov.readthedocs.io/en/latest/config.html
[run]
source =
    {{cookiecutter.project_name}}/
[html]
directory = coverage_html_report
