# https://coverage.readthedocs.io/en/latest/config.html
# https://pytest-cov.readthedocs.io/en/latest/config.html
[run]
source =
    src/{{cookiecutter.project_name}}/
omit =
    src/{{cookiecutter.project_name}}/main.py
    src/{{cookiecutter.project_name}}/containers.py    
[html]
directory = coverage_html_report
