[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://n_a:$AZURE_DEVOPS_PAT@pkgs.dev.azure.com/{{cookiecutter.azure_devops_organization_name}}/{{cookiecutter.azure_devops_team_project_name}}/_packaging/{{cookiecutter.azure_devops_feed_name}}/pypi/simple"
verify_ssl = true
name = "{{cookiecutter.azure_devops_feed_name}}"

[packages]

[dev-packages]
pytest = "*"
flake8 = "*"
pep8-naming = "*"
flake8-builtins = "*"
flake8-class-attributes-order = "*"
mypy = "*"
pre-commit = "*"
toml = "*"
isort = "*"
black = "*"
flake8-tidy-imports = "*"

[requires]
python_version = "{{cookiecutter.python_version}}"

[scripts]
publish = "python setup.py clean --all bdist_wheel"

[pipenv]
allow_prereleases = true
