[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
{% if cookiecutter.azure_devops_pat %}
[[source]]
url = "https://n_a:$AZURE_DEVOPS_PAT@pkgs.dev.azure.com/{{cookiecutter.azure_devops_organization_name}}/{{cookiecutter.azure_devops_team_project_name}}/_packaging/{{cookiecutter.azure_devops_feed_name}}/pypi/simple"
verify_ssl = true
name = "{{cookiecutter.azure_devops_feed_name}}"
{% endif %}
[packages]
{%- if cookiecutter.dependency_injector == "y" %}
dependency-injector = {extras = ["yaml"], version = "*"}
{%- endif %}
{%- if cookiecutter.pyspark_version %}
pyspark = "=={{cookiecutter.pyspark_version}}"
{%- endif %}

[dev-packages]
{%- if cookiecutter.pyspark_version %}
pyspark-stubs = "==3.0.0.post3"
chispa = "*"
{%- endif %}
pytest = "*"
flake8 = "*"
pep8-naming = "*"
flake8-builtins = "*"
flake8-class-attributes-order = "*"
mypy = "*"
pre-commit = "*"
isort = "*"
black = "*"
flake8-tidy-imports = "*"
pytest-cov = "*"
assertpy = "*"
{%- if cookiecutter.dependency_injector == "y" %}
types-pyyaml = "*"
{%- endif %}

[requires]
python_version = "{{cookiecutter.python_version}}"

[scripts]
publish = "python setup.py clean --all bdist_wheel"
test = "pytest -v"	
cov = "pytest -v --cov --cov-report=html"

[pipenv]
allow_prereleases = true
